{% extends 'user/maleteo.html.twig' %}

{% block usuarios %}
    <p class="howworks__step-title heading3">Registro de usuarios</p>
    {% for registrado in control %}
        <li><p>Nombre registrado: {{ registrado.usuario }}</p></li>
        <li><p>Email : {{ registrado.email }}</p></li>
        <li><h2>La ciudad  es: {{ registrado.localidad }}</h2></li>
        <li></br></li>

    {% endfor %}
{% endblock %}