{% extends 'user/maleteo.html.twig' %}

{% block usuarios %}
    <form action="{{ path("post_registro") }}" method="post">
        <input type="text" name="usuario" placeholder="nombre">
        <input type="password" name="password" placeholder="contraseña">
        <input type="text" name="localidad" placeholder="localidad">
        <input type="submit" value="Enviar">
    </form>

{%  endblock %}